<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="country">
            <h2><span>Country</span> {{ country.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{ country.country }}</span>
                </dd>
                <dt><span>Slug</span></dt>
                <dd>
                    <span>{{ country.slug }}</span>
                </dd>
                <dt><span>I SO 2</span></dt>
                <dd>
                    <span>{{ country.iSO2 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/country', country.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
