<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span>Item</span> {{ item.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ item.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ item.description }}</span>
                </dd>
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ item.link }}</span>
                </dd>
                <dt><span>Pub Date</span></dt>
                <dd>
                    <span>{{ item.pubDate }}</span>
                </dd>
                <dt><span>Media</span></dt>
                <dd>
                    <span>{{ item.media }}</span>
                </dd>
                <dt><span>Cdc News</span></dt>
                <dd>
                    <div *ngIf="item.cdcNews">
                        <a [routerLink]="['/cdc-news', item.cdcNews?.id, 'view']">{{ item.cdcNews?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
