<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-heading">Create or edit a Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                           formControlName="link"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pubDate">Pub Date</label>
                    <input type="text" class="form-control" name="pubDate" id="field_pubDate"
                           formControlName="pubDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_media">Media</label>
                    <input type="text" class="form-control" name="media" id="field_media"
                           formControlName="media"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cdcNews">Cdc News</label>
                    <select class="form-control" id="field_cdcNews" name="cdcNews" formControlName="cdcNews">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cdcNewsOption.id === editForm.get('cdcNews')!.value?.id ? editForm.get('cdcNews')!.value : cdcNewsOption" *ngFor="let cdcNewsOption of cdcnews; trackBy: trackById">{{ cdcNewsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
