<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dailyCases">
            <h2><span>Daily Cases</span> {{ dailyCases.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Lat</span></dt>
                <dd>
                    <span>{{ dailyCases.lat }}</span>
                </dd>
                <dt><span>Lon</span></dt>
                <dd>
                    <span>{{ dailyCases.lon }}</span>
                </dd>
                <dt><span>Confirmed</span></dt>
                <dd>
                    <span>{{ dailyCases.confirmed }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ dailyCases.active }}</span>
                </dd>
                <dt><span>Deaths</span></dt>
                <dd>
                    <span>{{ dailyCases.deaths }}</span>
                </dd>
                <dt><span>Recovered</span></dt>
                <dd>
                    <span>{{ dailyCases.recovered }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ dailyCases.date }}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <div *ngIf="dailyCases.country">
                        <a [routerLink]="['/country', dailyCases.country?.id, 'view']">{{ dailyCases.country?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/daily-cases', dailyCases.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
